.navbar{
    background-color: pink;
    
}

#logo{
    height: 50px;
    justify-content: baseline;
}

.menus{
    list-style-type: none; 
    margin: 0px;
}

.menus li{
    display: inline-block;
    margin-right: 15px;
}

.menus li input{
    border-radius: 7px;
    width: 100px;
}

#carousel{
    background-color: rgb(255, 171, 185);
    height: 400px;
}
#carousel img{
    max-height: 350px;
    max-width:  80%; ;
    margin-left: 10%;
    margin-top: 2%;
}

.buscar{
    width: 200px;
}